.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding-inline: 2.4rem;
	border-radius: 0.8rem;
	height: 5rem;
	transition: all 0.2s ease;
}

.btn-normal {
	background-color: var(--green-500);
	color: var(--white);
	&:hover {
		background-color: var(--green-300);
	}
}
.btn-outline {
	background-color: transparent;
	border: 1px solid var(--green-300);
	color: var(--green-300);

	&:hover {
		background-color: var(--green-300);
		color: var(--white);
	}
}
