.textarea {
	width: 100%;
	color: var(--placeholder);
	border: none;
	border-radius: 0.8rem;
	background-color: var(--gray-900);
	height: 9.6rem;
	resize: none;
	padding-inline: 1.6rem;
	padding-top: 1.3rem;
	border: 1px solid var(--gray-900);
	&::placeholder {
		color: var(--gray-500);
	}
	&:focus {
		outline: none;
	}
}
